<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <bean class="com.example.spring.Springoflistsetandmap.Employee"  id="Emp1">
 <property name="technologies">
    <list>
    <value>Java</value>
    <value>Python</value>
    <value>SQL</value>    
    </list>
 </property>
 <property name="projects">
    <list>
     <value>project1</value>
     <value>project2</value>
    </list>
 </property>
 <property name="company">
   <map>
     <entry key="1" value="xya"></entry>
     <entry key="2" value="pqr"></entry>
   </map>
 </property>
 </bean>
  </beans>